<p id="notice"><%= notice %></p>

<h1>Posts</h1>


<div class="row">
    <% @posts.each do |post| %>
        <td><%= post.title %></td>
        <td><%= post.gallery_id %></td>
        <td><%= link_to 'Show', [@gallery, post] %></td>
        <% if @user_owns_gallery %>
          <td><%= link_to 'Edit', edit_gallery_post_path(@gallery, post) %></td>
          <td><%= link_to 'Destroy', [@gallery, post], method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
    <% end %>
</div>

<br>

<% if @user_owns_gallery %>
  <div style="position:relative;top:30px;left:20px">
    <%= button_to 'Back', unew_gallery_post_path(@gallery.id), class: "btn btn-primary btn-lg", :method => :get %>
</div>

<% end %>