<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Gallery</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.gallery_id %></td>
        <td><%= link_to 'Show', [@gallery, post] %></td>
        <% if @user_owns_gallery %>
          <td><%= link_to 'Edit', edit_gallery_post_path(@gallery, post) %></td>
          <td><%= link_to 'Destroy', [@gallery, post], method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if @user_owns_gallery %>
  <%= link_to 'New Post', new_gallery_post_path(@gallery.id) %>
<% end %>