<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Gallery:</strong>
  <%= @gallery.title %>
</p>

<p>
  <strong>Uploaded by:</strong>
  <%= @gallery.user.username %>
</p>

<p>
<%= image_tag(@post.image) %>
</p>
<% if @user_owns_gallery %>
  <%= link_to 'Delete', [@gallery, @post], method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
  <%= link_to 'Back', [@gallery.user ,@gallery] %>
