<p id="notice"><%= notice %></p>

<h1>Galleries</h1>
<% if !@user_owns_gallery %>
  <Strong>Created by: </Strong>
  <%= @user.username %>
<% end %>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @galleries.each do |gallery| %>
      <tr>
        <td><%= gallery.title %></td>
        <td><%= link_to 'Show', [@user, gallery] %></td>
        <% if @user_owns_gallery %>
          <td><%= link_to 'Edit', edit_user_gallery_path(current_user,gallery) %></td>
          <td><%= link_to 'Destroy', [@user, gallery], method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @user_owns_gallery %>
  <%= link_to 'New Gallery', new_user_gallery_path(current_user) %>
<% end %>

<br>

