<style>
.card-img-top {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.modal-header, .modal-body {
  grid-area: 1 / 1;
}
.modal-body{
position:fixed;
top:0;
left:0;
right:0;
bottom:0;
z-index: 10;
width:auto;
overflow:auto;}
.modal-body img.img-responsive {width:auto;min-width:100%;height:auto;}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>

<p id="notice"><%= notice %></p>
<% Post.where(gallery_id: @gallery.id).each do |post| %>
  <div class="modal" id="postmodal-<%=post.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-content">
  <div class="modal-body">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="position:fixed; float:right;">
    <span aria-hidden="true">&times;</span>
  </button>
  <%= image_tag(post.image) %>
  </div>
  </div>
  </div>
  <% end %>


<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light"><%= @gallery.title %></h1>
        <% if !@user_owns_gallery %>
          <p>
            <strong>Created by:</strong>
            <%= @gallery.user.username %>
          </p>
        <% end %>
      </div>
    </div>
  </section>


<div class="gallery-block cards-gallery">
  <div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-4">
  <% Post.where(gallery_id: @gallery.id).each do |post| %>
        <div class="col">
        <div class="text-center"> 
          <div class="card shadow-sm">
            <%=link_to image_tag(post.thumb, class: "card-img-top"), "#postmodal-"+post.id.to_s ,"data-toggle" => "modal" %>
          <div class="card-body">
            <p class="card-text"><%= post.title %></p>
            <% if @user_owns_gallery %>
              <%= link_to 'Delete', [@gallery, post], method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          </div>
        </div>
        </div>
      </div>
  <% end %>

  <% if @user_owns_gallery %>
    <div class="col">
      <div class="text-center"> 
        <div class="card shadow-sm">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="220" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Add new post</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em" >+</text></svg>
        </div>
      </div>
    </div>
  <% end %>
  </div>
  </div>
  </div>



<% if @user_owns_gallery %>
  <%= link_to 'Add Post', new_gallery_post_path(@gallery) %> |
<% end %>

<%= link_to 'Back', user_galleries_path(@user) %>