<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @gallery.title %>
  <%= @gallery %>
</p>

<p>
  <% Post.where(gallery_id: @gallery.id).each do |post| %>
    <%= post.title %>
  <% end %>
</p>

<%= link_to 'Add Post', new_gallery_post_path(@gallery) %> |
<%= link_to 'Back', user_galleries_path(@user) %>
