<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @gallery.title %>
  <%= @gallery %>
</p>


<% Post.where(gallery_id: @gallery.id).each do |post| %>
  <p>
  <%= post.title %>
  <%= link_to image_tag(post.thumb), [@gallery, post] %>
  <%= link_to 'Destroy', [@gallery, post], method: :delete, data: { confirm: 'Are you sure?' } %>
  </p>
<% end %>


<%= link_to 'Add Post', new_gallery_post_path(@gallery) %> |
<%= link_to 'Back', user_galleries_path(@user) %>
